# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo

# Virtual environments
venv/
.venv/
ENV/
env/

# Django
*.log
local_settings.py
*.sqlite3
.db.sqlite3

# Media / static build artifacts
staticfiles/
media/

# OS
.DS_Store
Thumbs.db

# Editors/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/

# Node / frontend tooling
node_modules/
package-lock.json

# Environment variables
.env
.env.*

# Mypy / type checking
.mypy_cache/
.pyre/
.pytype/

# Logs
*.log

# Build
build/
dist/

# Cache
*.cache
